.navbar{
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 10px;
    margin: 0;
}
.navbar-link{
    text-decoration: none;
    font-size: medium;
}
.navbar-section{
    padding:10px;
}
.login-form, .signup-form{
    margin: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-form div label input, .signup-form div label input{
    padding: 10px;
}
